h1 {
    margin-top: 10%;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
}
.example-form {
    text-align: center;
    background-color: darkgoldenrod;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}