<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/bhavana_logo.jpg" alt="Bhavana Login">
        <h1><strong>Bhavana Login</strong></h1>
        <form [formGroup]="userLogin" (ngSubmit)="login()">
            <div class="form-floating mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
                <label>E-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
                <label>Senha</label>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-dark btn-lg" type="submit">Entrar</button>
            </div>
            <p class="mt-3">Não tem cadastro? <a routerLink="/register-user">Registre-se</a></p>
            <a class="mt-3" routerLink="/recover-password">Recuperar senha</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>