.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
}
.logo {
    height: 130px;
    margin-bottom: 10px;
}
.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}