<p *ngIf="mostraMenu === true">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Bhavana App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <i class="fa-solid fa-right-from-bracket fa-lg" style="color: #ffffff;"></i>
      </button>
    </mat-toolbar>
</p>