<div class="divInicio home">
    <h1><strong>Bem vindo ao Bhavana App</strong></h1>
    <div class="cards">
        <mat-card class="example-card mt-4" routerLink="/alunos">        
            <i class="fa-solid fa-users fa-2xl mt-3"></i>
            <h3 class="mt-3"><strong>Alunos</strong></h3>
        </mat-card>
        <mat-card class="example-card mt-4" routerLink="/create-aluno">        
            <i class="fa-solid fa-user-plus fa-2xl mt-3"></i>
            <h3 class="mt-3"><strong>Cadastrar Aluno</strong></h3>
        </mat-card>
        <mat-card class="example-card mt-4" routerLink="/professores">        
            <i class="fa-solid fa-graduation-cap fa-2xl mt-3"></i>
            <h3 class="mt-3"><strong>Professores</strong></h3>
        </mat-card>
        <mat-card class="example-card mt-4" routerLink="/create-professor">        
            <i class="fa-solid fa-user-graduate fa-2xl mt-3 "></i>
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-plus"></i>
            <h3 class="mt-3"><strong>Cadastrar Professor</strong></h3>
        </mat-card>        
        <mat-card class="example-card mt-4" routerLink="/planos">        
            <i class="fa-sharp fa-solid fa-spa fa-2xl mt-3"></i>
            <h3 class="mt-3"><strong>Planos</strong></h3>
        </mat-card>
        <mat-card class="example-card mt-4" routerLink="/create-plano">        
            <i class="fa-sharp fa-solid fa-spa fa-2xl mt-3"></i>
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-plus"></i>
            <h3 class="mt-3"><strong>Cadastrar Plano</strong></h3>
        </mat-card>
    </div>
</div>

