<h1><strong>Welcome to Bhavana desktop</strong></h1>
<div>
  <form class="example-form" (ngSubmit)="addUser()">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input [(ngModel)]="email" name="email" matInput type="email" placeholder="Ex. user@example.com">      
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input [(ngModel)]="password" name="password" matInput type="password" placeholder="Enter your password">
    </mat-form-field>
    <br>
    <button mat-stroked-button>
        Register
    </button>
  </form>
</div>

