.container {
    margin-top: 7%;
    align-items: center;
}
.form {
    margin-top: 2%;
}
.lineOneForm {
    width: 22%;
}
mat-form-field {
    width: 30%;
    margin-left: 2%;
}
.container-button {
    margin-top: 3%;
    margin-left: 3%;
    text-align: right;
}
.endereco {
    width: 62%;
}
.obs {
    width: 94%;
}
.radioButton {
    margin-left: 2%;
}
.radio1 {
    margin-right: 3%;
}
.pdiag {
    margin-left: 2%;
}
.diagnosticos {
    display: flex;
    justify-content: space-between;
    max-width: 94%;
    margin-left: 2%;
}