.container {
    margin-top: 3%;
    align-items: center;
}
.form {
    margin-top: 2%;
}
.lineOneForm {
    width: 22%;
}
mat-form-field {
    width: 30%;
    margin-left: 2%;
}
.container-button {
    margin-top: 3%;
    margin-left: 3%;
    text-align: right;
}
.endereco {
    width: 62%;
}
.obs {
    width: 94%;
}