<div class="new-post-container container">
  <h1><strong>Cadastro de Aluno</strong></h1>
  <div class="body">    
    <mat-tab-group animationDuration="2000ms">      
      <mat-tab label="Informações pessoais">
        <form [formGroup]="newPostForm" class="form">
          <mat-form-field class="lineOneForm">
            <mat-label>Unidade</mat-label>
            <select matNativeControl formControlName="unidade">
              <option label=""></option>
              <option value="São Miguel">São Miguel</option>
              <option value="Tatuapé">Tatuapé</option>
            </select>
          </mat-form-field>
          <mat-form-field class="lineOneForm">
            <mat-label>Status</mat-label>
            <select matNativeControl formControlName="status">
              <option label=""></option>
              <option value="ativo">Ativo</option>
              <option value="inativo">Inativo</option>
            </select>
          </mat-form-field>
          <mat-form-field class="lineOneForm">
            <mat-label >Plano</mat-label>
            <select matNativeControl formControlName="plano">
              <option label=""></option>
              <option *ngFor="let plano of selectUnidade">
                {{ plano.descricao }} - {{plano.valor}}
              </option>
            </select>
          </mat-form-field>
          <mat-form-field class="lineOneForm">
            <mat-label>Data de matrícula</mat-label>
            <input matInput formControlName="dtMatricula" [mask]="'00/00/0000'">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput formControlName="dtNascimento" [mask]="'00/00/0000'">
          </mat-form-field>
          <mat-form-field>
            <mat-label >Sexo</mat-label>
            <select matNativeControl formControlName="sexo">
              <option label=""></option>
              <option value="feminino">Feminino</option>
              <option value="masculino">Masculino</option>
              <option value="outro">Outro</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>RG</mat-label>
            <input matInput formControlName="rg">
          </mat-form-field> 
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" [mask]="'000.000.000-00'">
          </mat-form-field> 
          <mat-form-field class="endereco">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="endereco">
          </mat-form-field>
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" [mask]="'00000-000'">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="cidade">
          </mat-form-field>
          <mat-form-field>
            <mat-label>UF</mat-label>
            <select matNativeControl formControlName="uf"> 
              <option label=""></option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MT">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field> 
          <mat-form-field>
            <mat-label>Celular</mat-label>
            <input matInput formControlName="celular" [mask]="'(00) 0 0000-0000'">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" [mask]="'(00) 0000-0000'">
          </mat-form-field>
          <mat-form-field class="obs">
            <mat-label>Observações</mat-label>
            <input matInput formControlName="obs">
          </mat-form-field>                 
        </form>
      </mat-tab>
      <mat-tab label="Saúde do aluno">      
        <form [formGroup]="newPostForm" class="form form2">
          <div class="radioButton">
            <p><strong>Fez alguma cirurgia nos últimos 12 meses?</strong></p>
            <mat-radio-group formControlName="cirurgia">
              <mat-radio-button class="radio1" value="sim">Sim</mat-radio-button>
              <mat-radio-button value="não">Não</mat-radio-button>
            </mat-radio-group>
          </div>          
          <mat-form-field class="obs">
            <mat-label>Detalhes</mat-label>
            <input matInput formControlName="cirurgiaDetail">
          </mat-form-field>
          <div class="radioButton mt-4">
            <p><strong>Possui aulgum problema ortopédico?</strong></p>
            <mat-radio-group formControlName="ortopedico">
              <mat-radio-button class="radio1" value="sim">Sim</mat-radio-button>
              <mat-radio-button value="não">Não</mat-radio-button>
            </mat-radio-group>
          </div>          
          <mat-form-field class="obs">
            <mat-label>Detalhes</mat-label>
            <input matInput formControlName="ortopedicoDetail">
          </mat-form-field>
          <p class="pdiag mt-4"><strong>Possui aulgum dos diagnósticos abaixo?</strong></p>
          <div class="mt-4 diagnosticos">            
            <section class="example-section" *ngFor="let n of diagnosticosList">
              <input type="checkbox" [(ngModel)]="n.isSelected" formControlName="diagnosticos" value="n.value" (change)="isAllSelected()">
              <p>{{n.value}}</p>
            </section>                       
          </div>
          <mat-form-field class="obs">  
            <mat-label>Detalhes</mat-label>
            <input matInput formControlName="ortopedicoDetail">
          </mat-form-field>
          <p class="pdiag mt-4"><strong>Outras observações de saúde...</strong></p>
          <mat-form-field class="obs">            
            <mat-label>Detalhes</mat-label>
            <input matInput formControlName="outrasObsSaude">
          </mat-form-field>               
        </form>
      </mat-tab>
      <mat-tab label="Pesquisa Bhavana">
        <form [formGroup]="newPostForm" class="form form2">
          <mat-form-field class="obs mt-4">
            <mat-label>O aluno tem interesse em outros horários?</mat-label>
            <input matInput formControlName="outrosHorarios">
          </mat-form-field>
          <mat-form-field class="obs mt-4">
            <mat-label>O aluno busca por outras atividades?</mat-label>
            <input matInput formControlName="outrasAtividades">
          </mat-form-field>
          <mat-form-field class="obs mt-4">
            <mat-label>Razão pela qual procurou o espaço?</mat-label>
            <input matInput formControlName="razaoEspaco">
          </mat-form-field>
          <mat-form-field class="obs mt-4">
            <mat-label>Como conheceu o espaço?</mat-label>
            <input matInput formControlName="comoConheceu">
          </mat-form-field>      
        </form>
      </mat-tab>
    </mat-tab-group>
    <div class="container-button" *ngIf="!id">
      <input type="submit" class="mat-flat-button" value="Save" (click)="newAluno(newPostForm.value)">
    </div>
    <div class="container-button" *ngIf="id">
      <input type="submit" class="mat-flat-button" value="Edit" (click)="editAluno(id, newPostForm.value)">
    </div>    
  </div>
</div>

<!--pre>
  {{checkForm.value | json}}
<pre-->