<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/bhavana_logo.jpg" alt="Bhavana Login">
        <h4>
            <strong>
            Um link de autenticação foi enviado para o seu e-mail. Essa validação é necessária para acessar o sistema pela primeira vez.
            </strong>
        </h4>
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-dark btn-lg" type="button" routerLink="/login">Voltar</button>
        </div>
    </div>
</div>