/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.snackBarSucess {
    background-color: rgb(111, 219, 111);
    color: white;
}
.snackBarFail {
    background-color: rgb(243, 109, 109);
    color: white;
}
.snackBarInfo {
    background-color: rgb(85, 186, 233);
    color: white;
}

.form-floating {
    text-align: start;
}

.errorLabel {
    margin-left: 5px;
}